@mixin transition($transition...) {
    -webkit-transition : $transition;
    -moz-transition    : $transition;
    transition         : $transition;
}

@mixin animation($animation) {
    -webkit-animation : $animation;
    -moz-animation    : $animation;
    -ms-animation     : $animation;
    animation         : $animation;
}

* {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
    &:before, &:after { box-sizing : border-box; }
}

body {
    background : rgba(52, 171, 188, 0.20);
}

.container {
    padding : 20px 0;
}

figure {
    img { width : 100%; }
}

.slide-item {
    float   : left;
    padding : 0 0.5%;
    @include transition(all 0.2s linear);
}

.wrap {
    width      : 100%;
    overflow   : hidden;
    text-align : center;
}

.slider-draggable {
    transition : all 0.5s linear;
}

button {
    display       : inline-block;
    padding       : 10px 25px;
    margin        : 0 15px;
    background    : rgba(7, 1, 248, 0.46);
    border-radius : 2px;
    border        : none;
    outline       : none;
    cursor        : pointer;
    color         : #FFF;
    transition    : all 0.25s linear;
    transform     : skew(0deg);
    &:hover {
        background : rgba(7, 1, 248, 0.56);
    }
    &:focus { outline : none; }
}

.slider-nav {
    margin : 15px auto;
    li {
        display : inline-block;
        button {
            width         : 35px;
            height        : 35px;
            padding       : 10px;
            margin        : 0 5px;
            border-radius : 100%;
        }
    }
}

.slide-pulse {
    @include animation(pulse 0.4s linear forwards);
}

@-webkit-keyframes pulse {
    0% { opacity : 1; }
    50% { opacity : 0.5; }
    100% { opacity : 1 }
}

@-moz-keyframes pulse {
    0% { opacity : 1; }
    50% { opacity : 0.5; }
    100% { opacity : 1 }
}

@keyframes pulse {
    0% { opacity : 1; }
    50% { opacity : 0.5; }
    100% { opacity : 1 }
}


